

h3 {
  text-align: center;
  color: darkgreen;
}

.block, .block-with-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-with-pic {
 margin-top:10px;
}
.elem {
  margin: 10px;
}
.elem img {
  width:300px;
  height:200px;

}

  .elem img.selected, .elem-block-with-pic img.selectedMini {
    width: 550px;
    height: 350px;
  }

.elem-block-with-pic {
  margin: 10px;
 
}
  .elem-block-with-pic img {
    width: 200px;
    height: 100px;
    margin-left:30px;
  }
  

.block-det {
  text-align: center;
}
  .block-det p {
    font-size: smaller;
    font-style: italic;
   
  }
.span {
  font-size: large;
  font-style:normal;
  font-weight: 800;
}
